<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charSet="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title> Threads Video Downloader | Download Threads Videos, Photos & GIF - Threadsvideosdownloaders.com</title>
    <meta name="keywords" content="Threads Video Downloader - the ultimate tool for downloading photos and videos from Threads! Easily get your favorite Threads videos and photos, Gif on both iPhone and Android devices.">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1"/>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <meta itemprop="name" content="threadsvideosdownloaders.com">
    <meta name="robots" content="index, follow">
    <meta name="application-name" content="threadsvideosdownloaders.com">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="google-site-verification" content="W2au_BoyaYvvfk8abaMJFlwgnq1RHXCT7gr8y7i1Dy4"/>
    <meta name="description" content="Threads Video & Gif, photos Downloader! Easily download photos, videos, and image from Threads on PC, Android, and iOS. Powered by threadsvideosdownloaders.com."/>
    <link rel="canonical" href="https://threadsvideosdownloaders.com" />
    <meta property="og:title" content=" ThreadsVideosDownloaders.com presents the ultimate Threads Video Downloader. Download Threads Videos, Images & GIFs effortlessly."/>
    <meta property="og:url" content="https://threadsvideosdownloaders.com" />
    <meta property="og:description" content="Threads Video & Gif, photos Downloader! Easily download photos, videos, and profile pictures from Threads on PC, Android, and iOS. Powered by threadsvideosdownloaders.com."/>
    <meta property="og:image" content="https://threadsvideosdownloaders.com/threads.png"/>
    <meta property="og:site_name" content="threadsvideosdownloaders.com" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Poppins:ital,wght@0,300;0,600;0,800;1,400&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="/stylesheets/nav.css" />
    <script src="/javascript/menu.js"></script>
  </head>

  <body>
    <header>
      <a href="" class="logo">Threads Videos Downloader</a>

      <ul class="navlist">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="https://tnlinks.in/">Tnlinks</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="https://factinworld.com/">Factinworld</a></li>
      </ul>
      <div class="bx bx-menu" id="menu-icon"></div>
    </header>

    <section class="hero">
      <div class="hero-text">
        <h4>#1 Trending App</h4>
        <h1>Threads videos downloader</h1>
        <form method="POST" id="downloadForm" class="downloadform">
          <input
            type="text"
            name="url"
            id="link"
            placeholder="Enter Video or Image URL"
            required
          />

          <button type="submit" id="submit">Submit</button>
        </form>
        <br />
        <div class="example">
          <b>
            <h4>Example:</h4>
          </b>
          <h5>https://www.threads.net/t/CucH8WoIanL</h5>
        </div>

        <div class="result">
          <div class="container"></div>
        </div>

        <br />
      </div>

      <div class="hero-img">
        <!-- <h5>Image</h5> -->
        <img src="./images/logo.png" alt="" />
      </div>
    </section>

    <div class="icons">
      <a href="#"><i class="bx bxl-instagram"></i></a>
      <a href="#"><i class="bx bxl-youtube"></i></a>
      <a href="#"><i class="bx bxl-twitter"></i></a>
    </div>

    <div class="scroll-down">
      <a href="#"><i class="bx bxs-chevron-down"></i></a>
    </div>

    <div class="footer">
      <div class="inner-footer">
        <!--  for company name and description -->
        <div class="footer-items">
          <h1>Threads Videos Downloaders</h1>
          <p>
            Simplifying video and thread downloads for your offline enjoyment.
          </p>
        </div>

        <!--  for quick links  -->
        <div class="footer-items">
          <h3>Quick Links</h3>
          <div class="border1"></div>
          <!--for the underline -->
          <ul class="footerul">
            <a href="#">
              <li>Home</li>
            </a>
            <a href="#">
              <li>Search</li>
            </a>
            <a href="#">
              <li>Contact</li>
            </a>
            <a href="#">
              <li>About</li>
            </a>
          </ul>
        </div>

        <!--  for some other links -->
        <div class="footer-items">
          <h3>My Country</h3>
          <div class="border1"></div>
          <!--for the underline -->
          <ul class="footerul">
            <a href="#">
              <li>Indian</li>
            </a>
            <a href="#">
              <li>Chinese</li>
            </a>
            <a href="#">
              <li>Mexican</li>
            </a>
            <a href="#">
              <li>Italian</li>
            </a>
          </ul>
        </div>

        <!--  for contact us info -->
        <div class="footer-items">
          <h3>Contact us</h3>
          <div class="border1"></div>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>XYZ, abc</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
            <li>
              <i class="fa fa-envelope" aria-hidden="true"></i>xyz@gmail.com
            </li>
          </ul>

          <!--   for social links -->
          <div class="social-media">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
          </div>
        </div>
      </div>

      <!--   Footer Bottom start  -->
      <div class="footer-bottom">
        Copyright &copy; Threadsvideosdownloaders.com 2023.
      </div>
    </div>

    <script src="https://unpkg.com/scrollreveal"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const menu = document.querySelector("#menu-icon");
      const navlist = document.querySelector(".navlist");
      const form = document.getElementById("downloadForm");
      const resultContainer = document.querySelector(".result .container");
      const exampleContainer = document.querySelector(".example");
      // const loading = document.getElementById('loading');
      const videos = [];
      const images = [];

      menu.addEventListener("click", () => {
        navlist.classList.toggle("Open");
      });

      menu.onClick = () => {
        menu.classList.toggle("bx-x");
        navlist.classList.toggle("Open");
      };

      const sr = ScrollReveal({
        distance: "65px",
        duration: 2600,
        delay: 450,
        reset: true,
      });

      sr.reveal(".hero-text", { delay: 200, origin: "top" });
      sr.reveal(".hero-img", { delay: 500, origin: "right" });
      sr.reveal(".icons", { delay: 500, origin: "left" });

      form.addEventListener("submit", handleFormSubmit);

      async function handleFormSubmit(event) {
        event.preventDefault();
        submit.innerText = "Loading...";
        submit.disabled = false;

        resultContainer.innerHTML = "";
        // loading.style.display = 'flex';
        exampleContainer.style.display = "none";

        try {
          const formData = new FormData(form);
          const url = formData.get("url");
          const response = await axios.post("/fetch", { url });

          if (response.status === 200) {
            const data = response.data;
            const renderMediaContentWithData = renderMediaContent.bind(
              null,
              data.content,
              data.title,
              data.avatar,
              data.user
            );
            renderMediaContentWithData();
            submit.disabled = false;
            submit.innerText = "Submit";
          }
        } catch (err) {
          console.log(err);

          resultContainer.innerHTML = `<div class="err-message">${err.response.data}</div>`;
        } finally {
          // loading.style.display = 'none';
        }
      }

      function renderMediaContent(content, title, avatar, user) {
        content.forEach((c) => {
          const mediaContainer = createMediaContainer();
          // const mediaUserContainer = createMediaUserContainer(avatar, user);
          // const mediaTitleContainer = createMediaTitleContainer(title);

          // mediaContainer.appendChild(mediaUserContainer);
          // mediaContainer.appendChild(mediaTitleContainer);

          // if (c.type === "video") {
          //     const videoContainer = createVideoContainer(c.src);
          //     mediaContainer.appendChild(videoContainer);
          // } else if (c.type === "image") {
          //     const imageContainer = createImageContainer(c.src);
          //     mediaContainer.appendChild(imageContainer);
          // }

          const downloadLink = createDownloadLink(c.src);
          mediaContainer.appendChild(downloadLink);

          resultContainer.appendChild(mediaContainer);
        });
      }

      function createMediaContainer() {
        const mediaContainer = document.createElement("div");
        mediaContainer.classList.add("media");
        return mediaContainer;
      }

      function createMediaUserContainer(avatar, user) {
        const mediaUserContainer = document.createElement("div");
        mediaUserContainer.classList.add("media-user");

        const mediaUserImageContainer = document.createElement("img");
        mediaUserImageContainer.src = avatar;
        mediaUserContainer.appendChild(mediaUserImageContainer);

        const mediaUsernameContainer = document.createElement("span");
        mediaUsernameContainer.classList.add("media-username");
        mediaUsernameContainer.innerText = "@" + user;
        mediaUserContainer.appendChild(mediaUsernameContainer);

        return mediaUserContainer;
      }

      function createMediaTitleContainer(title) {
        const mediaTitleContainer = document.createElement("span");
        mediaTitleContainer.classList.add("media-title");
        mediaTitleContainer.innerText = title;
        return mediaTitleContainer;
      }

      function createVideoContainer(src) {
        const videoContainer = document.createElement("video");
        videoContainer.setAttribute("controls", "1");
        videoContainer.setAttribute("loop", "1");

        const videoSourceContainer = document.createElement("source");
        videoSourceContainer.src = src;
        videoContainer.appendChild(videoSourceContainer);

        videoContainer.classList.add("video-container");
        return videoContainer;
      }

      function createImageContainer(src) {
        const imageContainer = document.createElement("div");
        imageContainer.classList.add("image-container");

        const img = document.createElement("img");
        img.src = src;
        imageContainer.appendChild(img);

        return imageContainer;
      }

      function createDownloadLink(src) {
        const downloadLink = document.createElement("a");
        downloadLink.classList.add("download-button");
        downloadLink.href = src;
        downloadLink.download = src;
        downloadLink.target = "blank";
        downloadLink.textContent = "Download";
        return downloadLink;
      }
    </script>
  </body>
</html>
